.harvest{}

.selectBot{}

.hide{
    display : none
}

.botChannels{}

.selectSubsForNewBot{
    text-align: right;
}

.createBot{}

.botNewVids{}

.loading{
    position:absolute;
    left:50%;
    top:40%;
    width:100px;
    height:100px;
    z-index:2;

}